//----------------------Fonts On----------------------
@font-face {
	font-family: 'Cardo-Regular';
	src: url('assets/fonts/Cardo/Cardo-Regular.ttf');
}

@font-face {
	font-family: 'JosefinSans-Regular';
	src: url('assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
//----------------------Fonts Off----------------------
//----------------------Palette On----------------------
/*
  primary: TEAL 800
  accent: AMBER 600
  warn: DEEP ORANGE 600
*/
$primary: #00695c;
$accent: #ffb300;
$warn: #f4511e;
$background: #ffffff;
$foreground: #5b5b48;
//----------------------Palette Off---------------------
