//----------------------Fonts On----------------------
@font-face {
	font-family: 'Cardo-Regular';
	src: url('assets/fonts/Cardo/Cardo-Regular.ttf');
}

@font-face {
	font-family: 'JosefinSans-Regular';
	src: url('assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}
//----------------------Fonts Off----------------------
//----------------------Palette On----------------------
//----------------------Palette Off---------------------
