@import '../assets/scss/variables';

#header{

  justify-content: space-between;

  img{
    height: 100%;
  }

  h1{
    margin-right: 1vw;
  }

  small{
    align-self: flex-end;
  }
} //header

.app-parameters {
  padding: 20px;
  text-align: center;

  md-input-container{
    width: 80%;
  }

}