/* You can add global styles to this file, and also import other style files */

// Material Icons
@import url("~https://fonts.googleapis.com/icon?family=Material+Icons");
// Variables
@import 'assets/scss/variables';
// Fonts
@import 'assets/scss/fonts';
// Titles
body {
  margin: 0;
  font-family: JosefinSans-Regular;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Cardo-Regular;
}
// ------------------ Rules  ------------------
.primary-color {
  color: $primary !important;
}
.accent-color {
  color: $accent !important;
}

.background-primary-color {
  background-color: $primary!important;
}

.background-accent-color {
  background-color: $accent !important;
}

.white-text {
  color: #FFF !important;
}

.theme-text-color{
  color: $foreground;
}